<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_TOKEN</key>
    <string>eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzMSIsIm1lbWJlcklkIjozMSwiZW1haWwiOiJqazIzMTA0MDBAYWpvdS5hYy5rciIsInJvbGUiOiJVU0VSIiwiaXNzIjoiYWpvdWV2ZW50IiwiaWF0IjoxNzI2ODMxMjM3LCJleHAiOjE3MjY4Mzg0Mzd9.40WOZCBBYwwLHYkS9CDtDboLLJkM6xDQtkqdTqljGuk</string>
    <key>BASE_URL</key>
    <string>https://acb7cc1c-1d6d-469a-b6ab-27083497a171.mock.pstmn.io</string>
</dict>
</plist>
